<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <footer>
        <div class="container"></div>
        <div class="footer-content">
            <h3>Angelique Cañete</h3>
            <p>The pain itself is pain, it loves the main adipisic But he's been corrupted by his pain and hatred!</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"> https://www.facebook.com/que.cnt</i></a></li>
                <li><a href="#"><i class="fa fa-twitter"> https://twitter.com/anglqcnt_</i></a></li>
                <li><a href="#"><i class="fa fa-github"> https://github.com/hyejiea</i></a></li>

            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 AngeliqueJoy. designed by <span>Ajay</span></p>
        </div>
    </footer>
</body>
</html>